.container , .img {

    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin: 85px;
    margin-top: 90px;
    border-radius: 10px ;

} 

.img .img1 {
    background-color: aqua;
    float: left;
    width: 250px;
    margin-left: 30px;
    border-radius:10px ;
}

.container {
    background-color: rgb(240, 239, 238);
    width: 300px;
    height: 375px;
    padding: 0px 25px;
}

body {
    background-color: rgb(245, 243, 241);
}

.p {
    text-align: center;
    position: relative;
    display: flex;
    color: aqua;

}

.att{
    text-align: center;
}

.mestre {
    align-items: center;

}

.super{
    background-color:hsl(30, 38%, 92%);
    width: 800px;
    height: 550px;
    margin: 100px 500px;
    align-items: center;
    border-radius: 10px;
}

.container .container-2 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.preco{
    font-weight: bold;

}

.preco .preco1{
    font-size: 50px;
    padding: 30px ; 
    color: green;

}


.button {
    border-radius: 30px;
    height: 40px;
    width: 240px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: green;

}
